In [2]:
import pandas as pd

C:\Users\Jacob\miniconda3\envs\capp30245\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (34,36,38,44) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [15]:
ad = pd.read_csv('hmda_2014_mi_all-records_labels.csv')

C:\Users\Jacob\miniconda3\envs\capp30245\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (34,36,38,44,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
ad.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2014,41-1795868,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,17461,3270.0,4.500000,53900.0,108.180000,1137.0,2162.0,2
1,2014,41-1795868,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,100847,7897.0,7.310000,64600.0,131.729996,2267.0,2746.0,0
2,2014,38-2434249,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,349,5262.0,50.299999,64200.0,70.809998,1230.0,1980.0,0
3,2014,41-1795868,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,14333,2223.0,10.840000,53900.0,103.970001,856.0,1889.0,2
4,2014,7687600009,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,1151,5734.0,30.549999,73800.0,98.580002,1489.0,1688.0,0

In [22]:
ad['denial_reason_name_3'].isna().sum()

359843

In [25]:
 ad['action_taken_name'].value_counts(normalize=True).round(2) * 100

Loan originated                                        54.0
Application denied by financial institution            17.0
Loan purchased by the institution                      14.0
Application withdrawn by applicant                      8.0
File closed for incompleteness                          4.0
Application approved but not accepted                   3.0
Preapproval request denied by financial institution     0.0
Preapproval request approved but not accepted           0.0
Name: action_taken_name, dtype: float64

In [26]:
ad['loan_purpose_name'].value_counts(normalize=True).round(2) * 100

Home purchase       47.0
Refinancing         45.0
Home improvement     8.0
Name: loan_purpose_name, dtype: float64

In [27]:
ad['applicant_sex_name'].value_counts(normalize=True).round(2) * 100

Male                                                                                 59.0
Female                                                                               25.0
Not applicable                                                                       10.0
Information not provided by applicant in mail, Internet, or telephone application     6.0
Name: applicant_sex_name, dtype: float64

In [28]:
ad['applicant_ethnicity_name'].value_counts(normalize=True).round(2) * 100

Not Hispanic or Latino                                                               79.0
Not applicable                                                                       10.0
Information not provided by applicant in mail, Internet, or telephone application     9.0
Hispanic or Latino                                                                    2.0
Name: applicant_ethnicity_name, dtype: float64

In [30]:
ad['applicant_race_name_1'].value_counts(normalize=True).round(2) * 100

White                                                                                74.0
Not applicable                                                                       10.0
Information not provided by applicant in mail, Internet, or telephone application     9.0
Black or African American                                                             5.0
Asian                                                                                 2.0
American Indian or Alaska Native                                                      0.0
Native Hawaiian or Other Pacific Islander                                             0.0
Name: applicant_race_name_1, dtype: float64